<body>

<div id="vue-root">

    <any-component ref="group1">

        <any-component ref="group1child1">
            <any-component></any-component>
        </any-component>

        <any-component ref="group1child2">
        </any-component>

        <another-component-here>
        </another-component-here>

    </any-component>

    <any-component ref="group2">
    </any-component>

    <any-component>
    </any-component>

    <another-component-here>
    </another-component-here>

</div>

</body>