<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/vue/dist/vue.min.js"></script>

<script src="../src/Lib/ComponentScope.js"></script>
<script src="../src/Lib/Root.js"></script>
<script src="../src/Lib/Component.js"></script>

<script>
    var Vuevuezela = function () {
        this.eventListeners = {};
    };

    Vuevuezela.prototype.getTemplateInjections = function (extensions) {

        var result = [];

        jQuery.each(extensions, function (index, extension) {
            if (extension.templateInjection !== undefined) {
                result.push(extension.templateInjection);
            }
        });

        return result;
    };

    Vuevuezela.prototype.prepareTemplate = function (template, templateInjections) {

        var templateInjectionString = '';

        jQuery.each(templateInjections, function (index, templateInjection) {
            templateInjectionString += ' ' + templateInjection;
        });

        var position = template.indexOf(">");

        return [template.slice(0, position), templateInjectionString, template.slice(position)].join('');
    };

    Vuevuezela.prototype.addEventListeners = function (instruction, eventType) {
        var vuevuezela = this;

        jQuery.each(instruction[eventType], function (extensionTitle, extensionEvents) {
            jQuery.each(extensionEvents, function (eventTitle, event) {

                var fullEventTitle = extensionTitle + '.' + eventTitle;

                var componentTag = instruction.title;

                if (vuevuezela.eventListeners[fullEventTitle] === undefined &&
                    instruction[eventType][extensionTitle][eventTitle] !== undefined) {
                    vuevuezela.eventListeners[fullEventTitle] = {};
                }

                if (vuevuezela.eventListeners[fullEventTitle][componentTag] === undefined) {
                    vuevuezela.eventListeners[fullEventTitle][componentTag] = {};
                }

                if (vuevuezela.eventListeners[fullEventTitle][componentTag][eventType] === undefined) {

                    vuevuezela.eventListeners[fullEventTitle][componentTag][eventType] = {};
                }

                if (vuevuezela.eventListeners[fullEventTitle][componentTag][eventType].method ===
                    undefined && instruction[eventType][extensionTitle][eventTitle].method !== undefined) {
                    vuevuezela.eventListeners[fullEventTitle][componentTag][eventType].method =
                        event.method;
                }

            });
        });
    };

    Vuevuezela.prototype.runExtendingInstructions = function (instruction) {
        console.log(instruction);

        var vuevuezela = this;

        var extendedInstruction = instruction.extending.instruction;

        var preparedInstructions = {
            title: instruction.title
        };

        if (instruction.template !== undefined) {
            preparedInstructions.template = instruction.template;
        } else {
            // @todo Deep find template
            preparedInstructions.template = this.prepareTemplate(extendedInstruction.template,
                this.getTemplateInjections(extendedInstruction.extensions));
        }

        if (extendedInstruction.action !== undefined) {
            console.log(extendedInstruction.action);

            jQuery.each(extendedInstruction.action, function (extensionTitle, extensionEvents) {
                jQuery.each(extensionEvents, function (eventTitle, event) {
                    if (instruction.extending.ignore.action.indexOf(extensionTitle + '.' + eventTitle) !== -1) {

                        // Create extends

                        vuevuezela.eventListeners[extensionTitle + '.' + eventTitle][instruction.title] = {
                            action: {
                                extending: [
                                    extendedInstruction.title

                                ]
                            }
                        };

                    }
                });
            });
        }

        console.log(preparedInstructions);
    };

    Vuevuezela.prototype.run = function (instruction) {

        if (instruction.extending !== undefined) {
            return this.runExtendingInstructions(instruction);
            // @todo
            // return this.run(prepareInstructions(instruction));
        }

        this.addEventListeners(instruction, 'action');
        this.addEventListeners(instruction, 'visual');

        var mixins = [];

        jQuery.each(instruction.extensions, function (index, extension) {
            jQuery.each(extension.mixins, function (index, mixin) {
                mixins.push(mixin);
            });
        });

        return Vue.component(instruction.title, {
            mixins: mixins,
            template: this.prepareTemplate(instruction.template, this.getTemplateInjections(instruction.extensions))
        });
    };

    Vuevuezela.prototype.listenForEvents = function (vuevuezela, vueRoot) {
        jQuery.each(vuevuezela.eventListeners, function (fullEventTitle, tags) {
            vueRoot.$on(fullEventTitle, function (input) {

                var tagEventListeners = vuevuezela.eventListeners[fullEventTitle][input.tag];

                if (tagEventListeners.action !== undefined) {
                    if (tagEventListeners.action.method !== undefined) {
                        tagEventListeners.action.method(vueRoot, input);
                    }
                }

                if (tagEventListeners.visual !== undefined) {
                    if (tagEventListeners.visual.method !== undefined) {
                        tagEventListeners.visual.method(vueRoot, input);
                    }
                }

            });
        });
    };

    Vuevuezela.prototype.root = function (id) {

        var vuevuezela = this;

        return new Vue({
            el: id,
            mounted: function () {
                vuevuezela.listenForEvents(vuevuezela, this);
            }
        });
    };

    var vuevuezela = new Vuevuezela();
</script>

<script>
    var _divSlot = '<div><slot></slot></div>';

    var _buttonSlot = '<button><slot></slot></button>';
</script>

<script>
    var clickedMixin = {
        methods: {
            clicked: function () {
                this.$root.$emit('clicked.clicked', {
                    uid: this._uid,
                    tag: this.$vnode.componentOptions.tag,
                    params: {}
                });
            }
        }
    };


    var clickedExtension = {
        templateInjection: "@click='clicked()'",
        mixins: [clickedMixin]
    };
</script>

<script>
    var tabSwitchInstruction = {
        title: 'tab-switch',
        template: _buttonSlot,
        extensions: [clickedExtension],
        action: {
            clicked: {
                clicked: {
                    method: function (vueRoot, input) {
                        //console.log(eventTitle);
                        console.log(input);
                    }/*,
                     extends: []*/
                }
            }
        },
        visual: {
            clicked: {
                clicked: {
                    method: function (vueRoot, input) {
                        new Component(vueRoot, input.uid).jQuery.css('color', 'red');
                    }/*,
                     extends: []*/
                }
            }
        }
    };

    var tabSwitchButtonInstruction = {
        title: 'tab-switch-button',
        extending: {
            instruction: tabSwitchInstruction, // Get extensions (from all parents) → mixins and injections
            ignore: {action: ['clicked.clicked'], visual: ['clicked.clicked']}
            // @todo add ignore.visual from plugin later ???
        }
    };

</script>

<script>
    var instructions = [tabSwitchInstruction, tabSwitchButtonInstruction];

    jQuery.each(instructions, function (index, instruction) {
        vuevuezela.run(instruction);
    });

    console.log(vuevuezela);
</script>

<div id="vue-root">
    <tab-switch>Switch 1</tab-switch>
    <tab-switch>Switch 2</tab-switch>
</div>

<script>
    var vueRoot = vuevuezela.root('#vue-root');
</script>