<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/vue/dist/vue.min.js"></script>

<script src="../src/Lib/ComponentScope.js"></script>
<script src="../src/Lib/Root.js"></script>
<script src="../src/Lib/Component.js"></script>

<script>
    var Generator = function () {
        this.instruction = null;
        this.events = [];
        this.listeners = {action: [], visual: []};
    };

    Generator.prototype.getUidFromEventTitle = function (eventTitle) {
        return eventTitle.split('.').pop();
    };

    Generator.prototype.getTagFromEventTitle = function (eventTitle) {
        return eventTitle.split('.')[0];
    };

    Generator.prototype.getEventKeys = function (eventType) {
        var result = {};
        var temporary = [];

        var instructions = this.instruction;

        var i = 0;

        jQuery.each(instructions[eventType], function (extension, events) {

            temporary[i] = [];

            temporary[i].push(extension);

            jQuery.each(events, function (event, value) {
                temporary[i].push(event)
            });

            i++;
        });

        jQuery.each(temporary, function (index, value) {
            result[value.join('.')] = value;
        });

        return result;
    };

    Generator.prototype.getActionEventKeys = function () {
        return this.getEventKeys('action');
    };

    Generator.prototype.getVisualEventKeys = function () {
        return this.getEventKeys('visual');
    };

    Generator.prototype.prepareInstructions = function (instructions) {
        var clonedInstructions = jQuery.extend({}, instructions);

        if (clonedInstructions.extending === undefined) {
            return clonedInstructions;
        }

        var result = jQuery.extend({}, instructions.extending);

        jQuery.each(clonedInstructions, function (key, value) {
            if (jQuery.inArray(key, ['title', 'template']) !== -1) {
                result[key] = clonedInstructions[key];
            }

            if (jQuery.inArray(key, ['action', 'visual']) !== -1) {
                /*
                 if(){

                 }
                 */
                console.log(key);
                //result[key] = newInstructions[key];

                console.log(clonedInstructions.extending);

                jQuery.each(clonedInstructions.extending[key], function (extensionTitle, event) {
                    //console.log(event);


                });

                // jQuery.inArray();
            }
        });

        delete result.extending;

        console.log(result);

        // @todo Go through all parameters, do not rewrite methods if already exists in parent, just create a bridge


        return result;
    };

    Generator.prototype.run = function () {

        var $this = this;

        var instructions = this.instruction;

        this.instruction = this.prepareInstructions(instructions);

        instructions = this.instruction;

        var actions = this.getActionEventKeys();

        jQuery.each(actions, function (key, value) {
            $this.listeners.action[instructions.title + '.' + key] = instructions.action[value[0]][value[1]];
        });

        var visuals = this.getVisualEventKeys();

        jQuery.each(visuals, function (key, value) {
            $this.listeners.visual[instructions.title + '.' + key] = instructions.visual[value[0]][value[1]];
        });

        var mixins = [];

        jQuery.each(instructions.extensions, function (index, extension) {
            jQuery.each(extension.mixins, function (index, mixin) {
                mixins.push(mixin);
            });
        });

        return Vue.component(instructions.title, {
            mixins: mixins,
            template: instructions.template
        });


    };

    Generator.prototype.root = function (id) {

        var generator = this;

        return new Vue({
            el: id,
            mounted: function () {
                var $this = this;

                jQuery.each(generator.events, function (index, event) {

                    var listenerKey = event.split('.').slice(0, -1).join('.');

                    $this.$root.$on(event, function (value) {
                        // @todo ?
                        generator.listeners.action[listenerKey]($this, event, value);
                        generator.listeners.visual[listenerKey]($this, event, value);
                    });
                });
            }
        });
    };

    Generator.prototype.addEvents = function (tag, uid) {

        var $this = this;
        var actionKeys = this.getActionEventKeys();

        jQuery.each(actionKeys, function (key, value) {
            $this.events.push(tag + '.' + key + '.' + uid);
        });
    };

    var generator = new Generator();
</script>

<script>
    var _divSlot = '<div><slot></slot></div>';

    var _buttonSlot = '<button><slot></slot></button>';

    var _divSlotClickable = '<div @click="clicked = true"><slot></slot></div>';

    var _buttonSlotClickable = '<button @click="clicked = true"><slot></slot></button>';

</script>

<script>
    var clickedMixin = {
        data: function () {
            return {
                clicked: null
            }
        },
        watch: {
            clicked: function (value) {
                if (value) {
                    var uid = this._uid;

                    var tag = this.$vnode.componentOptions.tag;

                    this.$root.$emit(tag + '.clicked.clicked.' + uid, 'Component UID ' + uid + ' clicked');

                    this.$data.clicked = false;
                }
            }
        },
        mounted: function () {
            var tag = this.$vnode.componentOptions.tag;
            generator.addEvents(tag, this._uid);
        }
    };


    var clickedExtension = {
        templateInjection: '@click="clicked = true"',
        mixins: [clickedMixin]
    };
</script>

<script>
    var tabSwitchVisual = {
        clicked: {
            clicked: function (rootComponent, eventTitle, input) {
                console.log('Visual event - clicked');
                var uid = generator.getUidFromEventTitle(eventTitle);
                new Component(rootComponent, uid).jQuery.css('color', 'red');
            }
        }
    };

    var tabSwitchInstructions = {
        title: 'tab-switch',
        template: _divSlotClickable,
        extensions: [
            clickedExtension
        ],
        visual: tabSwitchVisual,
        action: {
            clicked: {
                clicked: function (rootComponent, eventTitle, input) {
                    console.log(input);
                    /*
                     var uid = generator.getUidFromEventTitle(eventTitle);
                     var tag = generator.getTagFromEventTitle(eventTitle);
                     rootComponent.$emit(tag + '.visual.clicked.' + uid, input);
                     */
                }
            }
        }
    };
</script>

<script>
    var tabSwitchButtonInstructions = {

        // @todo Add default later

        title: 'tab-switch-button',
        template: _buttonSlotClickable,
        rewriting: {
            extensions: [
                clickedExtension
            ],
            visual: tabSwitchVisual,
            action: {
                clicked: {
                    clicked: function (rootComponent, eventTitle, input) {
                        console.log(input);
                        /*
                         var uid = generator.getUidFromEventTitle(eventTitle);
                         var tag = generator.getTagFromEventTitle(eventTitle);
                         rootComponent.$emit(tag + '.visual.clicked.' + uid, input);
                         */
                    }
                }
            }
        },
        extending: {

            legacy: {
                instructions: {'tab-switch': tabSwitchInstructions},
                extensions: {'allBut': [], 'noneBut': ['tab-switch']},
                action: {'allBut': [], 'noneBut': ['tab-switch.clicked.clicked']},
                visual: {'allBut': [], 'noneBut': ['tab-switch.clicked.clicked']}
            },
            self: {
                extensions: [
                    clickedExtension
                ],
                visual: tabSwitchVisual,
                action: {
                    clicked: {
                        clicked: function (rootComponent, eventTitle, input) {
                            console.log(input);
                            /*
                             var uid = generator.getUidFromEventTitle(eventTitle);
                             var tag = generator.getTagFromEventTitle(eventTitle);
                             rootComponent.$emit(tag + '.visual.clicked.' + uid, input);
                             */
                        }
                    }
                }
            }
        }
    };

</script>

<script>
    var instructions = [tabSwitchInstructions, tabSwitchButtonInstructions];

    jQuery.each(instructions, function (index, instruction) {
        generator.instruction = instruction;
        generator.run();
    });

    console.log(generator);
</script>

<div id="vue-root">
    <tab-switch>Switch 1</tab-switch>
    <tab-switch>Switch 2</tab-switch>
    <tab-switch-button>Switch 3</tab-switch-button>
    <tab-switch-button>Switch 4</tab-switch-button>
</div>

<script>
    var vueRoot = generator.root('#vue-root');
</script>