.tab-switch-button.active {
    background-color: green;
    cursor: pointer;
}

.tab-switch-link, .tab-close-link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.tab-switch-link.active {
    color: purple;
}

.bold{
    font-weight: bold;
}

.underlined{
    text-decoration: underline;
}