<body>

<div id="vue-root">

    <tab-switch-button :id="'test1-1'" ref="separate1"
                       :state_changed_config="{change_contents: 'Close', add_class: 'bold'}">
        Separate 1 tab
    </tab-switch-button>

    <tab-switch-link :id="'test1-2'" :refresh_on_click="false" ref="separate2">Separate 2 tab</tab-switch-link>

    <tab-switch-button :id="'test1-3'" ref="separate3"
                       :state_changed_config="{change_contents: 'Close, please', add_class: ['underlined', 'bold']}">
        Separate 3 tab
    </tab-switch-button>

    <tab-switch-link :id="'test1-4'" ref="separate3"
                     :state_changed_config="{change_contents: 'Close me', add_css: {'color': 'green'}}">
        Separate 3 tab duplicate
    </tab-switch-link>

    <br/><br/>

    <tab-switch-group :id="'test2'" :multiple_active_members="true" ref="greetings">
        <tab-switch-button :id="'test2-1'" :refresh_on_click="false" ref="hello">Hello tab</tab-switch-button>
        <tab-switch-link :id="'test2-2'" ref="goodbye">Goodbye tab</tab-switch-link>
    </tab-switch-group>

    <br/>

    <tab-switch-group :id="'test3'" ref="thing">
        <tab-switch-button :id="'test3-1'" :refresh_on_click="false" ref="nothing">Nothing tab</tab-switch-button>
        <tab-switch-link :id="'test3-2'" ref="something">Something tab</tab-switch-link>
    </tab-switch-group>

    <br/>

    <tab-switch-group :id="'test4'" ref="greetings">
        <tab-switch-link :id="'test4-1'" ref="hello">Hello tab</tab-switch-link>
        <tab-switch-button :id="'test4-2'" ref="goodbye">Goodbye tab</tab-switch-button>
    </tab-switch-group>

    <br/>

    <tab-switch-group :id="'test5'" ref="thing">
        <tab-switch-link :id="'test5-1'" ref="nothing">Nothing tab</tab-switch-link>
        <tab-switch-button :id="'test5-2'" ref="something" :state_changed_config="{change_contents: 'Close'}">
            Something tab
        </tab-switch-button>
    </tab-switch-group>

    <!-- Tabs -->

    <tab-group :id="'test6'" ref="greetings">
        <tab-component :id="'test6-1'" ref="hello">
            <h1>Hello</h1>
            <tab-close-button :id="'test6-1-1'">Close</tab-close-button>
        </tab-component>
        <tab-component :id="'test6-2'" ref="goodbye">
            <h1>Goodbye</h1>
            <tab-close-link :id="'test6-2-1'">Close</tab-close-link>
        </tab-component>
        <tab-component :id="'test6-3'" ref="separate3"><h1>Separate 3 from Greetings</h1></tab-component>
    </tab-group>

    <tab-group :id="'test7'" ref="thing">
        <tab-component :id="'test7-1'" ref="nothing"><h1>Nothing</h1></tab-component>
        <tab-component :id="'test7-2'" ref="something"><h1>Something</h1></tab-component>
        <tab-component :id="'test7-3'" ref="something"><h1>Something duplicate</h1></tab-component>
    </tab-group>

    <tab-component :id="'test8-1'" ref="separate1">
        <h1>Separate 1</h1>
        <tab-close-button :id="'test8-1-1'">Close</tab-close-button>
    </tab-component>
    <tab-component :id="'test8-2'" ref="separate2">
        <h1>Separate 2</h1>
        <tab-close-link :id="'test8-2-1'">Close me</tab-close-link>
    </tab-component>
    <tab-component :id="'test8-3'" ref="separate3"><h1>Separate 3</h1></tab-component>
    <tab-component :id="'test8-4'" ref="separate3"><h1>Separate 3 duplicate</h1></tab-component>

</div>

</body>